{% extends 'base.html' %}
{% load static %}
{% load recipe_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title|capfirst }}</h1>

    <div class="categories-section">
        <h3>Категории</h3>
        {% show_categories cat_selected %}
    </div>

    <div class="tags-section">
        <h3>Теги</h3>
        {% show_all_tags %}
    </div>

    <h2>Список рецептов</h2>
    {% if posts %}
        <ul>
            {% for post in posts %}
                {% if post.is_published %}
                    <li>
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.description|truncatewords:30|linebreaks }}</p>
                        <p><a href="{% url 'Recipes:recipe_detail' post.slug %}">Читать далее</a></p>
                        {% if not forloop.last %}<hr>{% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет рецептов.</p>
    {% endif %}
    <p><a href="{% url 'Recipes:add_recipe_model' %}">Добавить рецепт</a></p>
{% endblock %}

{% block navigation %}
    {% if page_obj.has_other_pages %}
        <nav class="list-pages">
            <ul>
                {% if page_obj.has_previous %}
                    <li><a href="?page={{ page_obj.previous_page_number }}">&lt;</a></li>
                {% endif %}

                {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-num-selected">{{ p }}</li>
                    {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                        <li><a href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li><a href="?page={{ page_obj.next_page_number }}">&gt;</a></li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}