{% extends 'base.html' %}
{% load static %}
{% load recipe_tags %}   {# <-- добавьте эту строку #}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1>{{ title|capfirst }}</h1>

    {# Блок для вывода категорий #}
    <div class="categories-section">
        <h3>Категории</h3>
        {% show_categories cat_selected %}
    </div>

    {# Блок для вывода тегов #}
    <div class="tags-section">
        <h3>Теги</h3>
        {% show_all_tags %}
    </div>

    <h2>Список рецептов</h2>
    {% if posts %}
        <ul>
            {% for post in posts %}
                {% if post.is_published %}
                    <li>
                        <h3>{{ post.title }}</h3>
                        <p>{{ post.description|truncatewords:30|linebreaks }}</p>
                        <p><a href="{% url 'Recipes:recipe_detail' post.slug %}">Читать далее</a></p>
                        {% if not forloop.last %}<hr>{% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет рецептов.</p>
    {% endif %}
{% endblock %}