{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>

    {% with post.tags.all as tags %}
        {% if tags %}
            <div class="recipe-tags">
                <strong>Теги:</strong>
                {% for t in tags %}
                    {{ t.name }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <div>{{ post.instructions|linebreaks }}</div>
    <p><a href="{% url 'Recipes:home' %}">Назад к списку</a></p>
{% endblock %}