<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SmartPlate{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'images/kok.png' %}" alt="Логотип" height="40" class="logo">
        <nav>
            <ul class="menu">
                {% for m in mainmenu %}
                    <li><a href="{% url m.url_name %}">{{ m.title }}</a></li>
                {% endfor %}

                {% if user.is_authenticated %}
                    <li>Вы вошли как: <a href="{% url 'Users:profile' %}">{{ user.username }}</a></li>
                    <li>
                        <form method="post" action="{% url 'Users:logout' %}">
                            {% csrf_token %}
                            <button type="submit">Выйти</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'Users:login' %}">Войти</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
        {% block navigation %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2026 SmartPlate</p>
    </footer>
</body>
</html>
